---
import heronblack from "../assets/heron-partners-black.png";
import Landing from "./Landing.astro";
import Info from "./Info.astro";
import Quote from "./Quote.astro";
import Footer from "./Footer.astro";
---

<div id="container">
  <main>
    <Landing />
    <Info />
    <Quote />
    <Footer />
  </main>
</div>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Garamond", "Georgia", serif;
    overflow-x: hidden;
  }

  #container {
    height: 100%;
  }
</style>